<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletRegistro</servlet-name>
        <servlet-class>com.CopyQuick.Controller.ServletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>com.CopyQuick.Controller.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletArchivos</servlet-name>
        <servlet-class>com.CopyQuick.Controller.ServletArchivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loquesea</servlet-name>
        <servlet-class>com.CopyQuick.Controller.Loquesea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirArchivoDatos</servlet-name>
        <servlet-class>com.CopyQuick.Controller.SubirArchivoDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirArchivoArchivo</servlet-name>
        <servlet-class>com.CopyQuick.Controller.SubirArchivoArchivo</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ServletArchivoEscogido</servlet-name>
        <servlet-class>com.CopyQuick.Controller.ServletArchivoEscogido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSaldo</servlet-name>
        <servlet-class>com.CopyQuick.Controller.ServletSaldo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroQR</servlet-name>
        <servlet-class>com.CopyQuick.Controller.ServletRegistroQR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletQR</servlet-name>
        <servlet-class>com.CopyQuick.Controller.ServletQR</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegistro</servlet-name>
        <url-pattern>/ServletRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletArchivos</servlet-name>
        <url-pattern>/ServletArchivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loquesea</servlet-name>
        <url-pattern>/Loquesea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirArchivoDatos</servlet-name>
        <url-pattern>/SubirArchivoDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirArchivoArchivo</servlet-name>
        <url-pattern>/SubirArchivoArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletArchivoEscogido</servlet-name>
        <url-pattern>/ServletArchivoEscogido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSaldo</servlet-name>
        <url-pattern>/ServletSaldo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroQR</servlet-name>
        <url-pattern>/ServletRegistroQR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletQR</servlet-name>
        <url-pattern>/ServletQR</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
